<h3>Please login</h3>

<form action="/login" method="POST">

  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Username"><span>  *required</span>

  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Password"><span>  *required</span>

  <br><br>

  <input type="submit" value="Submit">

</form>

<br><br>

<p><a href="/">Home</a></p>
<% if !current_user %>
  <p><a href="/signup">New Users - Sign Up</a></p>
  <p><a href="/login">Existing Users - Sign In</a></p>
<% else %>
  <p><a href="/logout">Logout</a></p>
<% end %>