<h1>Welcome to Wheeliebike Rolodex</h1>


<h4>Select a link below to get started.</h4>

<br><br>

<% if !current_user %>
  <p><a href="/signup">New Users - Sign Up</a></p>
  <p><a href="/login">Existing Users - Sign In</a></p>
<% else %>
  <p><a href="/users/<%= current_user.slug %>">Profile Page</a></p>
  <p><a href="/logout">Logout</a></p>
<% end %>